@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#classes .classlist-card {
    display: flex;
    padding: 0.5rem 0 0 2rem;
    align-items: left; 
    border: solid 1px transparent;
    border-radius: 10px;
    height: 4rem;
}

#classes .welcome-title {
    font-size: 20px;
    font-weight: bold;
    color: hsl(0, 0%, 10%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
    margin-top: 20px;
}

.card {
    width: 240px; /* Set a fixed width for the card */
    position: relative;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

 .card-image-container {
    font-size: 2em; 
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    border-radius: 25px 25px 0 0; 
    height: 45%;
    background-color: hsl(261, 100%, 80%);
    font-size: 4.5rem;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

.card-image {
    width: 100%; 
    height: 50%; 
}

.card-content {
    padding: 9rem 1rem 1rem 1rem; 
    background-color: hsl(262, 47%, 55%);
    border-radius: 25px;
    box-shadow: 2px 3px 22px -10px rgb(48, 4, 63);
    color: hsl(0, 0%, 100%);
}

.card-title {
    font-size: 15px;
    font-weight: bold;
}

.card-text {
    padding-top: 10px;
    font-size: 12px;
    display: flex; 
    align-items: center;
}

.icon-image {
    width: 16px; 
    height: 16px; 
    margin-right: 8px;
}

.card:hover {
    transform: scale(1.05); 
}


/* Responsive Styles */
@media (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    #classes .container {
      height: auto;
      width: 90%;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
    }
    /* #home-user .container {
      height: 100%;
      width: 100%;
      margin: 0 auto;
    } */
  
    #classes .card {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
  #home-user .main-card {
    display: flex;
    padding-left: 5rem;
    align-items: center; 
    border: solid 1px transparent;
    border-radius: 10px;
    height: 15rem;
    width:53%;
    padding: 4%;
    margin: 5% 0 0 0;
    background: rgb(60,41,92);
  }
  
  #home-user .welcome-title {
    font-size: 25px;
    text-align: start;
    font-weight: bold;
    justify-content: left!important;
    color: hsl(0, 0%, 100%);
  }
  
  #home-user .welcome-title .name {
    margin: 0 3%;
    width: 110%;
  }
  
  #home-user .see-more-btn {
    width:20%;
    margin: 5% 0 15% 0 !important;
    padding: 2;
  }
  
  
  #classes .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; 
    max-width:420px; 
    height: 100%; 
    margin: 0;
    padding: 0 15px; 
    box-sizing: border-box; 
  }
  
  #classes  .card-content {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 10rem !important;
    height: 10rem !important;
    
    padding: 1rem 1rem 1rem 10rem; 
  
  }
  
  #classes  .card-image-container {
  
    border-radius: 25px 0 0 25px;
    max-width: 35rem;
    flex: 1;
    height:100%;
    width: auto;
    max-width: 35%;
    margin-right: 10px;
    font-size: 35px;
    padding: 12% 0 0 0;
  }
  
  
  
  }
  
   @media (max-width: 480px) {
    #home-user .card {
      /* display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      max-width: 100%; 
      height: auto;
      margin: 0; 
      padding: 0 15px; 
      box-sizing: border-box;  */
    }
  }
  
    
  
  