@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

#home-instructor body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 100%);
  overflow-y: hidden !important; 
}

#home-instructor .container {
  display: flex;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
}

#home-instructor .colored {
  color: #BA68C8;
}

#home-instructor .main-content {
  flex: 1;
  padding: 20px;
}

#home-instructor .main-card {
  display: flex;
  padding-left: 5rem;
  align-items: center; 
  border: solid 1px transparent;
  border-radius: 10px;
  height: 12rem;
  background: rgb(60,41,92);
  background: linear-gradient(90deg, rgba(60,41,92,1) 0%, rgba(126,87,194,1) 100%);
}

#home-instructor .welcome-title {
  font-size: 50px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}

#home-instructor .welcome-title .name {
  margin-right: 70%;   
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; 
  margin-top: 20px;
}

#home-instructor .card {
  position: relative; 
}

.card-title, 
.card-description {
  font-size: 15px;
  font-weight: bold;
  text-align: start;
}

.card-description {
  font-weight: normal;
}

#home-instructor .card-image {
  width: 100%; 
  height: 50%; 
}

#home-instructor .card-content {
  padding: 9rem 1rem 1rem 1rem; 
  background-color: hsl(262, 47%, 55%);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: hsl(0, 0%, 100%);
}

#home-instructor .card-title {
  font-size: 15px;
  font-weight: bold;
}

#home-instructor .card-text {
  padding-top: 10px;
  font-size: 12px;
  display: flex; 
  align-items: center;
}

#home-instructor .icon-image {
  width: 16px; 
  height: 16px; 
  margin-right: 8px;
}

#home-instructor .card:hover {
  transform: scale(1.05); 
}

#home-instructor .see-more-btn {
  background-color: hsl(262, 47%, 55%);
  color: #fff !important;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 50px 88% 0 0;
  transition: background-color 0.2s;
}

#home-instructor .see-more-btn:hover {
  background-color: hsl(262, 39%, 45%);
}

/* 
#home-instructor .card-image-container {
  font-size: 2em; 
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 25px 25px 0 0; 
  height: 45%;
  background-color: hsl(261, 100%, 80%);
  font-size: 4.5rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
} */