.chart-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #3C2A5D; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #DA88F9; 
  }

  h2{
    color:#DA88F9;
  }
  
  .chart-container canvas {
    display: block;         
    width: auto;            
    height: auto;         
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .navigation-buttons button {
    background-color: #7E57C2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigation-buttons button:disabled {
    background-color: #ccc;
    color:#3C2A5D;
    cursor: not-allowed;
  }
  
  .navigation-buttons button:hover:not(:disabled) {
    background-color: #5B4C76; 
  }